MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
ANTHROPIC_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYSTACK_SECRET_KEY=
CLIENT_URL=https://crop-intel-client.vercel.app
NODE_ENV=production
PORT=5000
